
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/appsettings.Development.json
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/appsettings.json
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/Microsoft.OpenApi.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/UdemyClone.CatalogApi.deps.json
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/UdemyClone.CatalogApi.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/UdemyClone.CatalogApi.exe
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/UdemyClone.CatalogApi.pdb
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/UdemyClone.CatalogApi.runtimeconfig.dev.json
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/UdemyClone.CatalogApi.runtimeconfig.json
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/apphost.exe
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/ref/UdemyClone.CatalogApi.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/refint/UdemyClone.CatalogApi.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/staticwebassets/UdemyClone.CatalogApi.StaticWebAssets.Manifest.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/staticwebassets/UdemyClone.CatalogApi.StaticWebAssets.Pack.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.AssemblyInfo.cs
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.AssemblyInfoInputs.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.assets.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.csproj.AssemblyReference.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.csproj.BuildWithSkipAnalyzers
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.csproj.CopyComplete
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.csproj.CoreCompileInputs.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.csproj.FileListAbsolute.txt
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.GeneratedMSBuildEditorConfig.editorconfig
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.genruntimeconfig.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.MvcApplicationPartsAssemblyInfo.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.MvcApplicationPartsAssemblyInfo.cs
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.pdb
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.RazorTargetAssemblyInfo.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/project.assets.json
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/project.nuget.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/UdemyClone.CatalogApi.csproj.nuget.dgspec.json
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/UdemyClone.CatalogApi.csproj.nuget.g.props
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/UdemyClone.CatalogApi.csproj.nuget.g.targets
