
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/appsettings.Development.json
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/appsettings.json
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/Microsoft.OpenApi.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/UdemyClone.CatalogApi.deps.json
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/UdemyClone.CatalogApi.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/UdemyClone.CatalogApi.exe
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/UdemyClone.CatalogApi.pdb
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/UdemyClone.CatalogApi.runtimeconfig.dev.json
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/UdemyClone.CatalogApi.runtimeconfig.json
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/apphost.exe
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/ref/UdemyClone.CatalogApi.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/refint/UdemyClone.CatalogApi.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/staticwebassets/UdemyClone.CatalogApi.StaticWebAssets.Manifest.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/staticwebassets/UdemyClone.CatalogApi.StaticWebAssets.Pack.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.AssemblyInfo.cs
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.AssemblyInfoInputs.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.assets.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.csproj.AssemblyReference.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.csproj.BuildWithSkipAnalyzers
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.csproj.CopyComplete
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.csproj.CoreCompileInputs.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.csproj.FileListAbsolute.txt
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.GeneratedMSBuildEditorConfig.editorconfig
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.genruntimeconfig.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.MvcApplicationPartsAssemblyInfo.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.MvcApplicationPartsAssemblyInfo.cs
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.pdb
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/UdemyClone.CatalogApi.RazorTargetAssemblyInfo.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/project.assets.json
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/project.nuget.cache
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/UdemyClone.CatalogApi.csproj.nuget.dgspec.json
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/UdemyClone.CatalogApi.csproj.nuget.g.props
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/UdemyClone.CatalogApi.csproj.nuget.g.targets
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/AutoMapper.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/AWSSDK.Core.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/AWSSDK.SecurityToken.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/DnsClient.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/MongoDB.Bson.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/MongoDB.Driver.Core.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/MongoDB.Driver.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/MongoDB.Libmongocrypt.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/runtimes/linux/native/libmongocrypt.so
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/runtimes/osx/native/libmongocrypt.dylib
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/runtimes/win/native/mongocrypt.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/SharpCompress.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/Snappier.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/bin/Debug/net5.0/ZstdSharp.dll
src/UdemyClone/Services/Catalog/UdemyClone.CatalogApi/obj/Debug/net5.0/_IsIncrementalBuild
src/UdemyClone/Shared/UdemyClone.Shared/obj/Debug/netcoreapp3.1/UdemyClone.Shared.pdb
src/UdemyClone/Shared/UdemyClone.Shared/obj/Debug/netcoreapp3.1/UdemyClone.Shared.csproj.FileListAbsolute.txt
src/UdemyClone/Shared/UdemyClone.Shared/obj/Debug/netcoreapp3.1/UdemyClone.Shared.csproj.CoreCompileInputs.cache
src/UdemyClone/Shared/UdemyClone.Shared/obj/Debug/netcoreapp3.1/UdemyClone.Shared.assets.cache
src/UdemyClone/Shared/UdemyClone.Shared/obj/Debug/netcoreapp3.1/_IsIncrementalBuild
src/UdemyClone/Shared/UdemyClone.Shared/bin/Debug/netcoreapp3.1/UdemyClone.Shared.pdb
src/UdemyClone/Shared/UdemyClone.Shared/bin/Debug/netcoreapp3.1/UdemyClone.Shared.dll
src/UdemyClone/Shared/UdemyClone.Shared/bin/Debug/netcoreapp3.1/UdemyClone.Shared.deps.json
src/UdemyClone/Shared/UdemyClone.Shared/obj/Debug/netcoreapp3.1/UdemyClone.Shared.dll
src/UdemyClone/Shared/UdemyClone.Shared/obj/Debug/netcoreapp3.1/UdemyClone.Shared.GeneratedMSBuildEditorConfig.editorconfig
src/UdemyClone/Shared/UdemyClone.Shared/obj/UdemyClone.Shared.csproj.nuget.dgspec.json
src/UdemyClone/Shared/UdemyClone.Shared/obj/project.nuget.cache
src/UdemyClone/Shared/UdemyClone.Shared/obj/project.assets.json
src/UdemyClone/Shared/UdemyClone.Shared/obj/UdemyClone.Shared.csproj.nuget.g.props
src/UdemyClone/.vs/UdemyClone/v17/.suo
src/UdemyClone/.vs/UdemyClone/v17/.futdcache.v2
src/UdemyClone/.vs/UdemyClone/FileContentIndex/f3292089-bb2c-4768-910d-afa1015cc718.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/ae491e10-a0f4-4ccf-b8c0-19a868e2553c.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/a405853d-fc41-4e54-aa45-e0c3c4d6652c.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/919c150a-331d-4e8e-81a1-f98c2977f840.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/8686fe50-db84-4a5f-88c8-add6cc529a2b.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/4908523f-4183-4ac7-939f-aec50e92a799.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/2df5a719-b0de-4271-8970-8c29152f6722.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/059a0484-e104-4f36-b241-15ce5e4283f3.vsidx
src/UdemyClone/.vs/ProjectEvaluation/udemyclone.projects.v6.1
src/UdemyClone/.vs/ProjectEvaluation/udemyclone.metadata.v6.1
src/UdemyClone/.vs/UdemyClone/FileContentIndex/73c16729-3c33-4c30-a1aa-3204e00a87e1.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/73c41550-9934-4533-8ecb-3355606348e0.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/804c6898-f7d2-4ea3-a09f-b36755535ad7.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/87ad0757-9c1d-4660-95a0-ca5595003ed4.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/9470ad20-a1f3-4b48-9aad-5fdc4821dd67.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/aee81db0-4a94-4465-94ef-82633971060c.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/af8c8093-d162-4c2a-8a6d-938e24db27ab.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/f0f69105-04e2-4906-850a-fe1b30a9a129.vsidx
src/UdemyClone/.vs/UdemyClone/v17/.suo
src/UdemyClone/.vs/UdemyClone/FileContentIndex/804c6898-f7d2-4ea3-a09f-b36755535ad7.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/9470ad20-a1f3-4b48-9aad-5fdc4821dd67.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/aee81db0-4a94-4465-94ef-82633971060c.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/af8c8093-d162-4c2a-8a6d-938e24db27ab.vsidx
src/UdemyClone/.vs/UdemyClone/v17/.suo
src/UdemyClone/.vs/UdemyClone/FileContentIndex/804c6898-f7d2-4ea3-a09f-b36755535ad7.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/9470ad20-a1f3-4b48-9aad-5fdc4821dd67.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/aee81db0-4a94-4465-94ef-82633971060c.vsidx
src/UdemyClone/.vs/UdemyClone/FileContentIndex/af8c8093-d162-4c2a-8a6d-938e24db27ab.vsidx
src/UdemyClone/.vs/UdemyClone/v17/.suo
